In [1]:
#LOkesh_Gavini
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
iphone=pd.read_excel("C:/Users/lokes/OneDrive/Desktop/Data science Docs/Iphone_price_prediction.xlsx")

In [4]:
iphone

    Version  Price
0         1    599
1         2    649
2         3    649
3         4    749
4         5    769
5         6    789
6         7    799
7         8    800
8         9    949
9        10   1000
10       11   1100
11       12   1599
12       13   1699
13       14   1699

In [5]:
iphone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Version  14 non-null     int64
 1   Price    14 non-null     int64
dtypes: int64(2)
memory usage: 352.0 bytes

In [6]:
iphone.describe()

       Version        Price
count  14.0000    14.000000
mean    7.5000   989.214286
std     4.1833   391.787065
min     1.0000   599.000000
25%     4.2500   754.000000
50%     7.5000   799.500000
75%    10.7500  1075.000000
max    14.0000  1699.000000

In [67]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()
#regression.fit(iphone[['Version']],iphone[['Price']])
regression.fit(x,y)

LinearRegression()

In [59]:
x=iphone[['Version']]

In [60]:
y=iphone[['Price']]

In [55]:
x

    Version
0         1
1         2
2         3
3         4
4         5
5         6
6         7
7         8
8         9
9        10
10       11
11       12
12       13
13       14

In [56]:
y

    Price
0     599
1     649
2     649
3     749
4     769
5     789
6     799
7     800
8     949
9    1000
10   1100
11   1599
12   1699
13   1699

In [68]:
regression.predict([[25]])

C:\Users\lokes\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[2469.71428571]])